h2,
p,
i {
	line-height: 0px;
}

h2 {
	font-size: 16px;
}

a {
	color: black;
	text-decoration: none;
}
/**HEADER**/
header {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	width: 100%;
	border: 1px solid;
}

#header a {
	display: block;
}

.logo {
	width: 50%;
}

.menu_1 {
	width: 50%;
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-end;
}

.titre {
	width: 100%;
}

/**CONTENU**/
#content {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

section {
	background: #f2f2f2;
}

.c_lg_60_40 {
	background: white;
	position: relative;
	border: 5px white solid;
	border-radius: 30px;
	overflow: hidden;
	height: 230px;
	margin: 10px;
}

.c_lg_60_40 img {
	width: 100%;
	border-top-left-radius: 25px;
	border-top-right-radius: 25px;
	height: auto;
	min-height: 70%;
}

.c_lg_60_40 .descr {
	background: white;
	padding-left: 15px;
	width: 100%;
	position: absolute;
	top: 166px;
}

/**CONTENU HBGT**/

#hbgt {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	width: 60%;
	border: 1px solid;
}

#hbgt h1 {
	width: 100%;
}

#hbgt article {
	width: 30%;
}

#hbgt button {
	width: 100%;
}

/**CONTENU FAV**/
#fav {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	justify-content: space-around;
	width: 35%;
	border: 1px solid;
}

#fav article {
	display: flex;
	flex-wrap: wrap;
}

.fav_img {
	min-width: 35%;
}
.fav_descr {
	max-width: 60%;
}

/**CONTENU ACT**/
#act {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	justify-content: space-between;
	width: 100%;
	border: 1px solid;
}

#act article {
	display: flex;
	flex-wrap: wrap;
	border: 1px solid;
}

.act_full {
	height: 100%;
}

.act_2_3 {
	height: 60%;
}

.act_1_3 {
	height: 30%;
}

.act_half {
	height: 45%;
}

/**FOOTER**/
footer {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	border: 1px solid;
}

.col_foot {
	flex-direction: column;
	width: 25%;
	border: 1px solid;
}
.col_foot a {
	display: block;
}

@media screen and (max-width: 1024px) and (min-width: 600px) {
	#content {
		flex-direction: column;
	}

	#fav,
	#hbgt,
	#act {
		width: 100%;
	}

	#content section:nth-child(2) {
		order: -1;
	}
}

@media screen and (max-width: 600px) {
	/**HEADER**/
	header a:first-child {
		order: -2;
		width: 70%;
	}

	header a:nth-child(4) {
		width: 30%;
		text-align: center;
		order: -1;
	}

	/**CONTENT**/

	#content {
		flex-direction: column;
		flex-wrap: nowrap;
		width: 100%;
		border: 1px solid;
	}

	#content section:nth-child(2) {
		order: -1;
	}

	#fav,
	#hbgt,
	#act {
		width: 100%;
	}

	#hbgt {
		flex-direction: column;
		max-height: 100%;
		width: auto;
	}

	/**FOOTER**/
	footer {
		flex-direction: column;
	}

	footer .col_foot {
		width: 100%;
	}
}
