@font-face {
	font-family: 'Raleway';
	src: url('contenu/fonts/Raleway-Regular.ttf') format('truetype');
}
/* {
	border: 1px solid;
}*/

body {
	font-family: 'Raleway', sans-serif;
	padding: 0% 1% 3% 1%;
	max-width: 1360px;
	margin: auto;
}

h1 {
	width: 95%;
	font-size: 24px;
	margin: 0px;
	padding: 1%;
}

h2 {
	font-size: 14px;
}

a {
	color: black;
	text-decoration: none;
}

.full {
	color: #0065fc;
}

.empty {
	color: grey;
}

/**HEADER**/
header {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	width: 100%;
}

header p {
	margin: 0px;
}

header a {
	border: none;
	display: block;
	font-size: 16px;
	border-top: 5px white solid;
}

header a:hover {
	color: #0065fc;
	border-top: 5px #0065fc solid;
}

.head_40 {
	width: 40%;
	flex-grow: 1;
}

.head_25,
.head_50 {
	display: flex;
	text-align: center;
	justify-content: flex-end;
}

.head_50 {
	width: 40%;
}

.head_25 {
	width: 10%;
}

.sign_in a {
	color: #0065fc;
	font-weight: bold;
}

.head_25 a,
.head_50 a {
	padding: 30px;
}
.titre {
	width: 100%;
}

.titre,
.recherche,
.filtres,
.info {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	padding: 5px;
	padding-left: 0px;
	align-items: center;
}

.recherche {
	justify-content: flex-start;
}
form {
	display: inline-block;
	background: #f2f2f2;
	border-radius: 15px;
	border: 1px solid #f2f2f2;
	width: auto;
	overflow: hidden;
}
.recherche i {
	padding: 10px;
	padding-left: 15px;
	text-align: center;
}

.recherche input[type='text'] {
	margin: 0px;
	border: none;
	border: 2px #f2f2f2 solid;
	padding: 10px;
}

.recherche input[type='submit'] {
	background: #0065fc;
	border: #0065fc 2px solid;
	border-radius: 0px 15px 15px 0px;
	color: white;
	padding: 10px;
}

.recherche input[type='submit']:hover {
	border: 2px solid #deebff;
}

.filtres button {
	display: block;
	border-radius: 30px;
	display: flex;
	flex-wrap: wrap;
	margin: 5px;
	border: 2px #f2f2f2 solid;
	border-left: none;
	background: white;
	align-items: center;
	padding: 0px;
	outline-style: none;
	transition: all 0.5s ease-in;
}

.filtres button:hover {
	background-color: #0065fc;
	color: white;
}

.filtres i {
	background: #deebff;
	width: 15px;
	padding: 15px;
	border-radius: 30px;
	color: #0065fc;
}

.filtres p {
	padding-left: 5px;
	padding-right: 5px;
	font-weight: bold;
	text-transform: capitalize;
	text-align: left;
}

i.fa-info {
	text-align: center;
	color: #0065fc;
	border-radius: 50%;
	padding-top: 2px;
	margin-right: 5px;
	width: 15px;
	height: 15px;
	border: 1px #f2f2f2 solid;
}

/**CONTENU**/
#content h1 {
	padding-left: 1%;
}

#content {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

section {
	background: #f2f2f2;
	border-radius: 30px;
	justify-content: space-between;
	padding: 1%;
	margin: 1% 0% 1% 0%;
}

article {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	background: white;
	border: 5px white solid;
	box-shadow: 5px 5px 5px gainsboro;
	border-radius: 30px;
	overflow: hidden;
}

section button {
	border: none;
	text-align: left;
	font-weight: bold;
	font-size: 16px;
	padding: 15px 0px 0px 15px;
}

.descr {
	display: flex;
	flex-flow: column wrap;
	padding: 5px 0px 0px 9px;
	width: 95%;
}

.descr h2,
.descr p {
	font-size: 20px;
	padding: 0px 5px 0px 5px;
	margin: 0px;
}

.descr div {
	flex-grow: 2;
	display: flex;
	flex-flow: wrap;
	align-items: flex-end;
}

#hbgt {
	display: flex;
	flex-wrap: wrap;
	width: 65%;
}

#fav {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	align-items: center;
	width: 30%;
}

#activites {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	background: none;
	justify-content: space-between;
	width: 100%;
}

.c_lg_60_40 {
	background: white;
	position: relative;
	margin-top: 1%;
	margin-bottom: 1%;
	border: white 5px solid;
	overflow: hidden;
}

.c_lg_60_40 img {
	position: absolute;
	top: 0px;
	width: 100%;
}

.c_lg_60_40 .descr {
	background: white;
	position: absolute;
	width: 100%;
}

#hbgt article {
	width: 30%;
}

#hbgt button {
	width: 100%;
}

#hbgt article {
	height: 230px;
}

#hbgt .c_lg_60_40 img {
	height: 70%;
}

#hbgt .c_lg_60_40 .descr {
	height: 70px;
	top: 146px;
}

/**CONTENU FAV**/
.fav {
	width: 95%;
	height: 150px;
	justify-content: flex-start;
}

.fav a {
	display: flex;
	flex-flow: wrap;
}

.fav .img {
	width: 150px;
	max-width: 40%;
	height: 150px;
	overflow: hidden;
}

.img img {
	width: auto;
	height: 100%;
}

.fav .descr {
	max-width: 50%;
	text-align: left;
}

#act {
	display: flex;
	flex-flow: column wrap;
	justify-content: space-between;
	height: 400px;
	width: 100%;
}

#act article {
	width: 24%;
	border: none;
}

.act_full {
	height: 100%;
}

.act_2_3 {
	height: 55%;
}

.act_1_3 {
	height: 31%;
}

.act_half {
	height: 42%;
}

#act .c_lg_60_40 img {
	height: 90%;
}

#act .c_lg_60_40 .descr {
	height: 50px;
	bottom: 0px;
}

/**FOOTER**/
footer {
	display: flex;
	flex-wrap: wrap;
	background: #f2f2f2;
	width: 100%;
	padding: 15px 0px 15px 0px;
}

.col_foot {
	flex-direction: column;
	width: 25%;
	padding: 1%;
}
.col_foot a {
	display: block;
	padding: 2px;
}

/** TABLET **/

@media screen and (max-width: 1024px) and (min-width: 600px) {
	#content {
		flex-direction: column;
	}

	#fav,
	#hbgt,
	#activites,
	#act {
		width: 98%;
	}

	#fav article {
		margin: 5px 0px 5px 0px;
	}

	#content section:nth-child(2) {
		order: -1;
	}

	.head_40 {
		width: 98%;
	}

	.head_50 {
		width: 59%;
	}

	.head_25 {
		width: 39%;
		justify-content: flex-start;
	}

	#hbgt article {
		width: 45%;
		height: 250px;
	}

	#hbgt .c_lg_60_40 img {
		height: 80%;
	}

	#hbgt .c_lg_60_40 .descr {
		height: 80px;
		bottom: 0px;
	}

	#act {
		height: 700px;
		align-content: space-around;
	}

	#act article {
		width: 45%;
		height: 30%;
	}
}

/** TEL **/

@media screen and (max-width: 600px) {
	body {
		min-width: 340px;
	}

	/**HEADER**/
	header div:first-child {
		order: -2;
		width: 70%;
	}

	header div:nth-child(3) {
		width: 30%;
		text-align: center;
		order: -1;
	}

	header a:hover {
		color: #0065fc;
		border-top: 5px #0065fc solid;
	}

	.head_50 {
		width: 98%;
		justify-content: space-around;
	}

	.head_50 a {
		padding: 20px;
		border: none;
		border-bottom: 5px white solid;
	}

	.head_50 a:hover {
		border-top: none;
		border-bottom: 5px #0065fc solid;
	}

	.head_20 {
		display: flex;
		text-align: center;
		justify-content: space-around;
		width: 20%;
	}

	/**CONTENT**/

	#content {
		flex-direction: column;
		flex-wrap: nowrap;
		width: 98%;
	}

	#content section:nth-child(2) {
		order: -1;
	}

	#fav,
	#hbgt,
	#activite,
	#act {
		width: 98%;
		margin: 0%;
	}

	section {
		width: 98%;
	}
	article {
		width: 98%;
	}

	#fav article {
		margin: 1% 0% 1% 0%;
	}

	#act {
		height: 1300px;
	}

	#act article {
		height: 15%;
	}

	#hbgt {
		flex-direction: column;
		width: auto;
	}

	#hbgt article {
		width: 98%;
	}

	#act article {
		width: 98%;
		height: 200px;
	}
	/**FOOTER**/
	footer {
		flex-direction: column;
	}

	footer .col_foot {
		width: 98%;
	}
}
