/* {
	border: 1px solid;
}*/

/*Propriétés s'appliquant sur l'ensemble de la page*/
@font-face {
	font-family: 'Raleway';
	src: url('contenu/fonts/Raleway-Regular.ttf') format('truetype');
}

body {
	font-family: 'Raleway', sans-serif;
	padding: 0% 1% 3% 1%;
	max-width: 1360px;
	margin: auto;
}

h1 {
	width: 95%;
	font-size: 24px;
	margin: 0px;
}

h2 {
	font-size: 24px;
	font-weight: 20px;
	width: 98%;
}

h3 {
	font-size: 16px;
	margin: 0px;
}

a {
	color: black;
	text-decoration: none;
}

.full {
	color: #0065fc;
}

.empty {
	color: grey;
}

/**HEADER**/
/* Navigation */
header {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	width: 100%;
}

header p {
	margin: 0px;
}

header a {
	border: none;
	display: block;
	font-size: 16px;
	border-top: 5px #f2f2f2 solid;
}

header a:hover {
	color: #0065fc;
	border-top: 5px #0065fc solid;
}

.head_40 {
	width: 53%;
}

.head_50 {
	display: flex;
	flex-flow: wrap;
	width: 30%;
}

.head_25 {
	width: 15%;
}

.sign_in a {
	color: #0065fc;
	font-weight: bold;
}

.head_25 a {
	width: 100%;
	text-align: center;
	padding: 20px 0px 20px 0px;
}

.head_50 a {
	width: 50%;
	text-align: center;
	padding: 20px 0px 20px 0px;
}
/* Eléments globaux Titre site et Barre de recherche */

.titre,
.recherche,
.filtres,
.info {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	padding: 5px;
	padding-left: 0px;
	align-items: center;
}

/* Barre de recherche */

.recherche {
	justify-content: flex-start;
}
form {
	background: #f2f2f2;
	border-radius: 15px;
	border: 1px solid #f2f2f2;
}
.recherche i {
	padding: 10px;
	padding-left: 10px;
	text-align: center;
}

.recherche input[type='text'] {
	margin: 0px;
	border: none;
	border: 2px #f2f2f2 solid;
	padding: 10px;
}

.recherche input[type='submit'] {
	background: #0065fc;
	border: #0065fc 2px solid;
	border-radius: 0px 15px 15px 0px;
	color: white;
	padding: 10px;
}

.recherche input[type='submit']:hover {
	border: 2px solid #deebff;
}

/* Filtres recherche */

.filtres h3 {
	margin-right: 2%;
}

.filtres button {
	display: block;
	border-radius: 30px;
	display: flex;
	flex-wrap: wrap;
	margin: 0% 1% 0% 1%;
	border: 2px #f2f2f2 solid;
	border-left: none;
	background: white;
	align-items: center;
	padding: 0px;
	outline-style: none;
	transition: color 0.5s ease-in, background-color 0.5s ease-in;
}

.filtres button:hover {
	background-color: #0065fc;
	color: white;
}

.filtres i {
	background: #deebff;
	width: 15px;
	padding: 15px;
	border-radius: 30px;
	color: #0065fc;
}

.filtres span {
	display: inline-block;
	padding: 0px 10px 0px 5px;
	font-weight: bold;
	text-transform: capitalize;
	text-align: left;
}

.info {
	display: flex;
	flex-flow: wrap;
	padding: 1% 0% 1% 0%;
}

.info p {
	width: 90%;
}
i.fa-info {
	text-align: center;
	color: #0065fc;
	border-radius: 50%;
	padding-top: 2px;
	margin-right: 5px;
	width: 15px;
	height: 15px;
	border: 1px #f2f2f2 solid;
}

/**CONTENU**/

/* Blocs de disposition contenu */

#content /*Bloc contenant les 3 sections*/ {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

section {
	background: #f2f2f2;
	border-radius: 30px;
	display: flex;
	flex-flow: wrap column;
	justify-content: space-between;
	padding: 1% 1% 3% 1%;
	margin: 1% 0% 0% 0%;
}

section button {
	border-radius: 30px;
	background: #f2f2f2;
	border: none;
	text-align: left;
	font-weight: bold;
	font-size: 16px;
	padding: 15px 0px 0px 15px;
}

/*Section Hébergement */

#hebergement {
	flex-flow: wrap row;
	width: 64%;
	margin-right: 1%;
}

#hebergement article {
	width: 30%;
}

#hebergement button {
	width: 100%;
}

/*Section Favoris */

#fav {
	align-items: center;
	width: 28%;
	margin-right: 2%;
}

#fav article {
	width: 95%;
}

/*Section Activités */

#activites {
	background: none;
	width: 100%;
}

#act {
	display: flex;
	flex-flow: column wrap;
	justify-content: space-between;
	height: 400px;
	width: 100%;
}

#act article {
	width: 24%;
	border: none;
}

/* Contenu des sections */

article {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	background: white;
	border: 5px white solid;
	box-shadow: 5px 5px 5px gainsboro;
	border-radius: 30px;
	overflow: hidden;
	position: relative;
	margin-top: 1%;
	margin-bottom: 2%;
}

article img {
	position: absolute;
	top: 0px;
	width: 100%;
}

.descr /* Description des articles */ {
	position: absolute;
	background: white;
	width: 96%;
	display: flex;
	flex-flow: column wrap;
	padding: 1% 1% 0% 3%;
}

.descr h3,
.descr p,
.descr .note {
	font-size: 16px;
	margin: 0px;
}

.descr div {
	flex-grow: 2;
	display: flex;
	flex-flow: wrap;
	align-items: flex-end;
}

/*Contenu article spécial Hébergement*/

#hebergement article {
	height: 230px;
}

#hebergement article img {
	height: 70%;
}

#hebergement article .descr {
	height: 70px;
	top: 146px;
}

/*Contenu article spécial Favoris*/

#fav article {
	height: 150px;
	flex-flow: wrap row;
}

#fav article img {
	height: 150px;
	width: 150px;
}

#fav article .descr {
	width: auto;
	height: 80%;
	left: 150px;
	padding: 15px 5px 0px 5px;
}

/*Contenu article spécial Favoris*/

.act_full {
	height: 98%;
}

.act_2_3 {
	height: 50%;
}

.act_1_3 {
	height: 30%;
}

.act_half {
	height: 40%;
}

.act_full img {
	height: 90%;
}

.act_2_3 img {
	height: 80%;
}

.act_1_3 img {
	height: 75%;
}

.act_half img {
	height: 80%;
}

#act article .descr {
	height: 50px;
	bottom: 0px;
}

/**FOOTER**/
footer {
	display: flex;
	flex-wrap: wrap;
	background: #f2f2f2;
	width: 100%;
	padding: 15px 0px 15px 0px;
}

.col_foot {
	flex-direction: column;
	width: 25%;
	padding: 1%;
}

.col_foot a,
.col_foot h3 {
	display: block;
	padding: 1%;
}

/* TABLET */

@media screen and (max-width: 1024px) and (min-width: 600px) {
	.head_40 {
		width: 29%;
	}

	.head_50 {
		width: 50%;
	}

	.head_25 {
		width: 19%;
	}

	#hebergement,
	#act {
		width: 98%;
	}

	#activites,
	#fav {
		width: 47%;
	}

	#fav article {
		margin: 5px 0px 5px 0px;
	}

	/*Modification des proportions du contenu */
	/*Hébergement*/

	/*Favoris*/

	#fav article {
		flex-flow: wrap column;
		height: 200px;
	}

	#fav article img {
		width: 100%;
		height: auto;
		max-height: 80%;
	}

	#fav article .descr {
		width: 100%;
		left: 0px;
		height: auto;
		bottom: 10px;
	}

	/*activités*/
	#act {
		height: 700px;
		align-content: space-around;
	}

	#act article {
		width: 98%;
		height: 14%;
	}

	#act article .descr {
		width: 100%;
		left: 0px;
		height: 25%;
		bottom: 8px;
	}
}

/** TEL **/

@media screen and (max-width: 600px) {
	body {
		min-width: 320px;
	}

	/**HEADER**/
	header div:first-child {
		order: -2;
		width: 70%;
	}

	header div:nth-child(3) {
		width: 30%;
		text-align: center;
		order: -1;
	}

	header a:hover {
		color: #0065fc;
		border-top: 5px #0065fc solid;
	}

	.head_50 {
		width: 100%;
		justify-content: space-around;
	}

	.head_50 a {
		border: none;
		border-bottom: 5px #f2f2f2 solid;
	}

	.head_50 a:hover {
		border-top: none;
		border-bottom: 5px #0065fc solid;
	}

	.head_20 {
		display: flex;
		text-align: center;
		justify-content: space-around;
		width: 20%;
	}

	.recherche {
		justify-content: center;
	}

	/**CONTENT**/

	#content {
		flex-direction: column;
		flex-wrap: nowrap;
		width: 98%;
	}

	#content section:nth-child(2) {
		order: -1;
	}

	#fav,
	#hebergement,
	#activite,
	#act {
		width: 98%;
	}

	section {
		width: 98%;
	}

	#fav article {
		margin: 1% 0% 1% 0%;
	}

	#act {
		height: 1300px;
	}

	#hebergement {
		flex-direction: column;
	}

	#hebergement article {
		width: 96%;
	}

	#act article {
		height: 15%;
		width: 98%;
	}
	/**FOOTER**/
	footer {
		flex-direction: column;
	}

	footer .col_foot {
		width: 98%;
	}
}
