body {
	max-width: 1368px;
	margin: auto;
}

h2,
p,
i {
	line-height: 0px;
}

h2 {
	font-size: 16px;
}

/*a {
	display: block;
	color: black;
	text-decoration: none;
}*/
/**HEADER**/
header {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	width: 100%;
}

header a {
	display: block;
}

.head_60 {
	width: 60%;
}

.head_40 {
	width: 40%;
	display: flex;
}

.head_40 a {
	width: 33%;
	padding: 30px;
}

.titre {
	width: 100%;
}

/**CONTENU**/
#content {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

section {
	background: #f2f2f2;
	border-radius: 30px;
	justify-content: space-around;
	padding: 1%;
	margin: 1% 0% 1% 0%;
}

article {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	border-radius: 30px;
	background: white;
	overflow: hidden;
}

#hbgt {
	display: flex;
	flex-wrap: wrap;
	width: 57%;
}

#fav {
	display: flex;
	flex-flow: column wrap;
	width: 37%;
}

#act {
	display: flex;
	flex-flow: column wrap;
	align-content: space-around;
	width: 100%;
}

.c_lg_60_40 {
	background: white;
	position: relative;
	height: 230px;
	margin-top: 1%;
	margin-bottom: 1%;
	overflow: hidden;
}

.c_lg_60_40 img {
	width: 100%;
	height: 70%;
}

.c_lg_60_40 .descr {
	display: none;
	background: white;
	padding-left: 15px;
	width: 100%;
	height: 120px;
	position: absolute;
	top: 166px;
}

/**CONTENU HBGT**/

#hbgt h1 {
	width: 100%;
}

#hbgt article {
	width: 30%;
}

#hbgt button {
	width: 100%;
}

/**CONTENU FAV**/

.fav .img {
	width: 30%;
	height: 140px;
}

.img img {
	width: 100%;
	height: 140px;
}

.fav_descr {
	max-width: 60%;
}

/**CONTENU ACT**/

#act article {
	width: 22%;
}

#act article h2 {
	padding-left: 15px;
}

.act_full {
	height: 100%;
}

.act_2_3 {
	height: 60%;
}

.act_1_3 {
	height: 30%;
}

.act_half {
	height: 45%;
}

/**FOOTER**/
footer {
	display: flex;
	flex-wrap: wrap;
	background: #f2f2f2;
	width: 100%;
}

.col_foot {
	flex-direction: column;
	width: 25%;
}
.col_foot a {
	display: block;
}

@media screen and (max-width: 1024px) and (min-width: 600px) {
	#content {
		flex-direction: column;
	}

	#fav,
	#hbgt,
	#act {
		width: 100%;
	}

	#content section:nth-child(2) {
		order: -1;
	}
}

@media screen and (max-width: 600px) {
	/**HEADER**/
	header a:first-child {
		order: -2;
		width: 70%;
	}

	header a:nth-child(4) {
		width: 30%;
		text-align: center;
		order: -1;
	}

	/**CONTENT**/

	#content {
		flex-direction: column;
		flex-wrap: nowrap;
		width: 100%;
		border: 1px solid;
	}

	#content section:nth-child(2) {
		order: -1;
	}

	#fav,
	#hbgt,
	#act {
		width: 100%;
	}

	#hbgt {
		flex-direction: column;
		max-height: 100%;
		width: auto;
	}

	/**FOOTER**/
	footer {
		flex-direction: column;
	}

	footer .col_foot {
		width: 100%;
	}
}
