/*Récapitulatif des class et id utilisés:
	
	HEADER:
	.head_40: Barre de navigation, Bloc logo 
	.head_50: Barre de navigation, Bloc des liens "Hébergements" et "Activités" 
	.head_25: Barre de navigation, Bloc du lien "s'inscrire"
	.Titre : Bloc Titre et slogan
	.Recherche: Bloc recherche de logement
	.Filtres: Bloc filtres de recherche
	.Info: Bloc sur le nombre de logements disponibles dans la zone recherchée
	
	CONTENU:
	#Content: Bloc contenant les 3 sections de contenu
	.section_head: Bloc titre des sections
	#hebergement: Bloc des hébergements
	#activites: Bloc section des activités
	.act: Bloc des articles activités
	#fav: Bloc des hébergements favoris
	.img: Bloc contenant les images des articles.
	.descr: Bloc de description des hébergements. Contient l'enseigne, le tarif à la nuit, et la note.
	.note: Note de l'hébergements
	.full: Etoile obtenue par l'hébergement
	.empty: Etoile non obtenue par l'hébergement
	.act_full: Article prenant l'ensemble de la hauteur de la section .act
	.act_1_3: Article prenant 1 tiers de la hauteur de la section .act
	.act_2_3: Article prenant 2 tiers de la hauteur de la section .act
	.act_half: Article prenant la moitié de la hauteur de la section .act
	
	FOOTER:
	.col_foot: Colonne de liens dans le footer
*/

/* Cadrage temporaire * {
	border: 1px solid;
}*/

/*Propriétés s'appliquant sur l'ensemble de la page*/
@font-face {
	font-family: 'Raleway';
	src: url('contenu/fonts/Raleway-Regular.ttf') format('truetype');
}

body {
	font-family: 'Raleway', sans-serif;
	padding: 0% 1% 3% 1%;
	max-width: 1360px;
	margin: auto;
}

h1 {
	width: 95%;
	font-size: 24px;
	margin: 0px;
}

h2 {
	font-size: 24px;
	font-weight: bold;
}

h3 {
	font-size: 16px;
	margin: 0px;
}

a {
	display: block;
	color: black;
	text-decoration: none;
}

/**HEADER**/
/* Navigation */
header {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	width: 100%;
}

header p {
	margin: 0px;
}

header a {
	border: none;
	font-size: 16px;
	border-top: 5px white solid;
}

header a:hover {
	color: #0065fc;
	border-top: 5px #0065fc solid;
}

.head_40 {
	/* Barre de navigation, Bloc logo */
	width: 53%;
}

.head_50 {
	/* Barre de navigation, Bloc des liens "Hébergements" et "Activités" */
	display: flex;
	flex-flow: wrap;
	width: 30%;
}

.head_50 a {
	width: 50%;
	text-align: center;
	padding: 20px 0px 20px 0px;
}

.head_25 {
	/* Barre de navigation, Bloc du lien "s'inscrire"*/
	width: 15%;
}

.head_25 a {
	color: #0065fc;
	font-weight: bold;
	width: 100%;
	text-align: center;
	padding: 20px 0px 20px 0px;
}

/* Eléments globaux Titre site et Barre de recherche */

.titre,
.recherche,
.filtres,
.info {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	padding: 5px;
	padding-left: 0px;
	align-items: center;
}

/* Barre de recherche */
form {
	display: flex;
	flex-flow: wrap row;
	width: auto;
	height: 58px;
	margin: 0px;
}

form div {
	margin: 0px;
}

form div button {
	color: white;
	background-color: #0065fc;
	margin: 0px;
	border: none;
	padding: 5px;
	font-size: 24px;
}

.i {
	padding: 20px 20px 20px 20px;
	border-radius: 15px 0px 0px 15px;
}

.text {
	padding: 1px 0px 1px 0px;
}

.gris {
	background: #f2f2f2;
}

.bleu {
	background: #0065fc;
	padding: 10px;
	border-radius: 0px 15px 15px 0px;
}

input[type='text'] {
	margin: 0px;
	height: 36px;
	padding: 10px 0px 10px 5px;
	border: none;
	font-size: 24px;
}

.smart {
	display: none;
}
/* Filtres recherche */

.filtres h3 {
	margin-right: 2%;
	font-size: 18px;
	font-weight: bold;
}

.filtres button {
	display: block;
	border-radius: 30px;
	display: flex;
	flex-wrap: wrap;
	margin: 0% 2% 0% 2%;
	border: none;
	background: white;
	align-items: center;
	padding: 0px;
	outline-style: none;
	transition: color 0.5s ease-in, background-color 0.5s ease-in;
}

.filtres button:hover {
	background-color: #0065fc;
	color: white;
}

.filtres i {
	background: #deebff;
	display: block;
	width: 15px;
	height: 20px;
	padding: 20px;
	border-radius: 50%;
	color: #0065fc;
}

.filtres span {
	display: inline-block;
	padding: 0px 10px 0px 5px;
	font-size: 18px;
	font-weight: bold;
	text-transform: capitalize;
	text-align: left;
}

.info {
	display: flex;
	flex-flow: wrap;
	padding: 1% 0% 1% 0%;
}

.info p {
	width: 90%;
}
i.fa-info {
	text-align: center;
	color: #0065fc;
	border-radius: 50%;
	padding-top: 2px;
	margin-right: 5px;
	width: 15px;
	height: 15px;
	border: 1px #f2f2f2 solid;
}

/**CONTENU**/

/* Blocs de disposition contenu */

#content /*Bloc contenant les 3 sections*/ {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

#content a {
	margin: 1% 0% 2% 0%;
}

#content img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

section {
	background: #f2f2f2;
	border-radius: 30px;
	display: flex;
	flex-flow: wrap column;
	justify-content: space-between;
	padding: 1% 1% 3% 1%;
	margin: 1% 0% 0% 0%;
}

/* Propriétés sections */

section .section_head {
	width: 98%;
	display: flex;
	flex-flow: wrap;
	justify-content: space-between;
	align-items: center;
}

#hebergement {
	flex-flow: wrap row;
	width: 64%;
	margin-right: 1%;
}

#activites {
	background: none;
	width: 98%;
}

#fav {
	align-items: center;
	width: 28%;
	margin-left: 2%;
}

section button {
	border-radius: 30px;
	background: #f2f2f2;
	border: none;
	text-align: left;
	font-weight: bold;
	font-size: 16px;
	padding: 15px 0px 0px 15px;
}

.section_head i {
	padding: 1%;
}

/* Propriétés des articles et contenu des articles */

article {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	width: 100%;
	border: 5px white solid;
	box-shadow: 5px 5px 5px gainsboro;
	border-radius: 30px;
	overflow: hidden;
}

.descr {
	background: white;
	display: flex;
	flex-flow: column wrap;
}

.descr h3,
.descr p,
.descr .note {
	font-size: 16px;
	margin: 0px;
}

.descr div {
	flex-grow: 2;
	display: flex;
	flex-flow: wrap;
	align-items: flex-end;
}

/* Notes hôte*/

.full {
	color: #0065fc;
}

.empty {
	color: grey;
}

/*Section Hébergement */

#hebergement a {
	width: 30%;
	height: 230px;
}

#hebergement .img {
	width: 100%;
	height: 150px;
	overflow: hidden;
}

#hebergement .descr {
	width: 99%;
	height: 70px;
	padding: 5px;
}

/*Section Favoris */

#fav a {
	width: 97%;
}

#fav article {
	width: 100%;
	height: 150px;
	flex-flow: wrap;
	align-items: stretch;
}

#fav .img {
	width: 40%;
	height: 150px;
}

#fav .descr {
	width: 53%;
	padding: 2% 5% 5% 2%;
}

/* Section activités */

#act {
	display: flex;
	flex-flow: column wrap;
	justify-content: space-between;
	height: 450px;
	width: 100%;
}

#act a {
	width: 22.5%;
	margin: 0% 1% 0% 1%;
}

#act article {
	width: 100%;
	border: none;
}

#act .img {
	width: 100%;
}

#act .descr {
	width: 97%;
	height: 50px;
	padding: 3%;
}

.act_full {
	height: 450px;
}

.act_full .img {
	height: 380px;
}

.act_half {
	height: 215px;
}

.act_half .img {
	height: 165px;
}

.act_1_3 {
	height: 140px;
}

.act_1_3 .img {
	height: 90px;
}

.act_2_3 {
	height: 290px;
}

.act_2_3 .img {
	height: 240px;
}

/**FOOTER**/
footer {
	display: flex;
	flex-wrap: wrap;
	background: #f2f2f2;
	width: 100%;
	padding: 15px 0px 15px 0px;
}

.col_foot {
	flex-direction: column;
	width: 25%;
	padding: 1%;
}

.col_foot a,
.col_foot h3 {
	display: block;
	padding: 1%;
}

/* TABLET Entre 1024 et 600px*/

@media screen and (max-width: 1024px) and (min-width: 600px) {
	/* Header, redisposition du menu de navigation */

	.head_40 {
		width: 29%;
	}

	.head_50 {
		width: 50%;
	}

	.head_25 {
		width: 19%;
	}

	/*Modification des proportions des sections */
	/*Global*/

	section {
		width: 98%;
		margin: 2% 0% 2% 0%;
	}

	#hebergement,
	#act {
		width: 98%;
	}

	#activites,
	#fav {
		width: 47%;
	}

	/* Modifications des propriétés des articles */

	/* Favoris */

	#fav a {
		margin: 5px 0px 5px 0px;
		flex-flow: wrap column;
		width: 98%;
	}

	#fav article {
		width: 98%;
		height: 240px;
	}

	#fav .img {
		width: 100%;
		height: 130px;
		max-height: 80%;
	}

	#fav .descr {
		width: 100%;
		height: 90px;
	}

	/* Activités */

	#act {
		height: 760px;
	}

	#act a {
		width: 98%;
	}

	.act_full,
	.act_half,
	.act_1_3,
	.act_2_3 {
		width: 100%;
		height: 110px;
	}

	#act .img {
		width: 100%;
		height: 70%;
	}

	#act article .descr {
		width: 100%;
	}
}

/** Smartphones, Moins de 600px **/

@media screen and (max-width: 600px) {
	body {
		min-width: 320px;
	}

	/** Propriétés Header **/

	/* Propriétés des blocs de navigation*/

	header a:hover {
		color: #0065fc;
		border-top: 5px #0065fc solid;
	}

	.head_40 {
		order: -2;
		width: 70%;
	}

	.head_50 {
		width: 100%;
		justify-content: space-around;
	}

	.head_50 a {
		border: none;
		border-bottom: 5px #f2f2f2 solid;
	}

	.head_50 a:hover {
		border-top: none;
		border-bottom: 5px #0065fc solid;
	}

	.head_25 {
		width: 30%;
		text-align: center;
		order: -1;
	}

	/* Barre de recherche */
	.recherche{
		width: 100%;
		justify-content: center;
	}

	form{
		position: relative;
	}
	
	.smart{
		display: inline;
	}

	.bleu{
		position: absolute;
		right: 0px;
		height: 38px;
		border-radius: 15px 15px 15px 15px;
	}

	.normal{
		display: none;
	}

	/** Contenu **/

	#content {
		flex-direction: column;
		flex-wrap: nowrap;
		width: 98%;
	}

	/* Ordre et propriétés des sections */

	#content section:nth-child(2) {
		order: -1;
	}

	section {
		margin: 2% 0% 2% 0%;
	}

	#fav {
		width: 98%;
		margin-left: 0%;
	}

	#hebergement {
		width: 98%;
		flex-direction: column;
	}

	#act {
		width: 98%;
		height: 1300px;
	}

	/* Propriétés des articles */
	#hebergement a {
		width: 100%;
	}
	#fav article {
		width: 98%;
	}

	#hebergement article {
		width: 98%;
		margin: 0%;
	}

	#act a {
		width: 100%;
		margin: 5px 0px 5px 0px;
	}
	.act_full,
	.act_half,
	.act_1_3,
	.act_2_3 {
		height: 200px;
		width: 100%;
	}

	#act .img {
		height: 150px;
	}

	#act .descr {
		height: 50px;
	}

	/** Footer **/
	footer {
		flex-direction: column;
	}

	footer .col_foot {
		width: 98%;
	}
}
